.vscode/
__pycache__/

*.pyc
.idea

source/methods/clear/exp_results/
source/methods/clear/models_save/
source/methods/clear/src/data/

basegnn/
!basegnn/*/best_model_run_1.pt

data/ogbg_molhiv/mapping/
data/ogbg_molhiv/split/
data/ogbg_molhiv/RELEASE_v1.txt
